{% extends 'base.html' %}


{% block content %}
<div class="container content-space-3 content-space-t-lg-4 content-space-b-lg-3">
    <div class="flex-grow-1 mx-auto" style="max-width: 28rem;">
        <!-- Heading -->
        <div class="text-center mb-5 mb-md-7">
            <h1 class="h2">عملیات موفق</h1>
            <p>رمز عبور با موفقیت تغییر کرد.</p>
        </div>
        <!-- End Heading -->

        <!-- Form -->
        <form >
            <!-- Form -->


            <div class="d-grid mb-3">
                <center><a href="{% url 'website:index' %}"><button type="submit" class="btn btn-primary btn-lg">بازگشت</button></a></center>
            </div>

            <div class="text-center">
                <p>حساب کاربری ندارید؟ <a class="link" href="./page-signup-simple.html">اینجا ثبت نام کنید</a></p>
            </div>
        </form>

        <!-- End Form -->
    </div>
</div>

{% endblock content %}


{% block extra_js %}
<script>
    // INITIALIZATION OF TOGGLE PASSWORD
    // =======================================================
    new HSTogglePassword('.js-toggle-password')
</script>
{% endblock extra_js %}